body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../images/vzgQ3U_1200x650.jpg");
}

/* ---header styling and links---- */
.header {
    display: flex;
    background-color: white;
    color: rgb(140, 140, 140);
    font-family: Georgia, Times, 'Times New Roman', serif;
    height: 100px;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.about-me, 
.port-text, 
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3333333%;
    height: 100%;
    font-size: 4vw;
    margin-top: auto;
    margin-bottom: auto;
}

.about-me:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(19, 19, 68);
} 
.port-text:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(19, 19, 68);
}

.contact:hover {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(19, 19, 68);
} 
/* ---end of header styling---- */


/*----about me page styling----*/

.about-me-box {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 10px;
}

.profile-img {
    height: 320px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    background-image: url("../images/IMG_20161204_164641_1_300x338.jpg");
}

.about-me-text-box {
    height: 320px;
    width: 50%;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
}

.p-text {
    font-size: 16px;
    margin-top: -5px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
/* media queries for about me page */
@media screen and (max-width: 800px) {
    .about-me-box {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 70%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    .profile-img {
        height: 300px;
        width: 300px;
        margin: 20px;
        border-radius: 10px;
        background-image: url("../images/IMG_20161204_164641_1_300x338.jpg");
    }
    .about-me-text-box {
        display: flex;
        height: 70%;
        width: 90%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {
    .about-me-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 70%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    .profile-img {
        height: 338px;
        width: 300px;
        margin: 20px;
        border-radius: 10px;
        background-image: url("../images/IMG_20161204_164641_1_300x338.jpg");
    }
    .about-me-text-box {
        height: 320px;
        width: 90%;
        margin: 0px 20px 20px 20px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 420px) {
    .about-me-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 70%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    .profile-img {
        height: 50%;
        width: 80%;
        margin: 0px 20px 20px 20px;
        border-radius: 10px;
        background-image: url("../images/IMG_20161204_164641_1_300x338.jpg");
    }
    .about-me-text-box {
        height: 50%;
        width: 80%;
        margin: 0px 20px 20px 20px;
        border-radius: 10px;
    }
    .p-text {
        font-size: 16px;
        font-family: Georgia, Times, 'Times New Roman', serif;
    }
}
/*----end of about me page styling----*/

/* end of media queries for about me page*/

/* portfolio page styling */

.link-1 {
    color: rgb(241, 148, 218);
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.link-1:hover {
    color: rgb(253, 252, 253);
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.link-2 {
    color: rgb(136, 136, 138);
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.link-2:hover {
    color: rgb(253, 252, 253);
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
/* ---carousel css----- */

.carousel-size {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.carousel-inner {
    width: 100%;
}

.carousel-item {
    width: 100%;
    
}

.img-size {
    width: 75%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption {
    height: 40%;
}

.project-title {
    font-size: 3vw;
}

.project-text {
    font-size: 2vw;
}

.text-background {
    padding: 5px 5px 0px 5px;
    background-color: red;
    border-radius: 10px;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
}

.project-title-2 {
    font-size: 3vw;
}

.project-text-2 {
    font-size: 2vw;
}
/* media query for portfolio page */
@media screen and (max-width: 500px) {
    .carousel-size {
        margin-top: 50px;
    }
    .img-size {
        width: 80%;
        height: 45vh;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-background {
        height: 45%;
    }
    .project-text {
        font-size: 3vw;
    }
    
    .project-title {
        font-size: 5vw;
    }

    .project-text-2{
        font-size: 3vw;
    }

    .project-title-2 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 400px) {
    .text-background {
        padding: 5px 5px 0px 5px;
        background-color: red;
        border-radius: 10px;
        width: 66%;
        margin-left: auto;
        margin-right: auto;
        height: 33%;
    }

    .project-text-2{
        margin-top: -5px;
        font-size: 3vw;

    }
}
/* ---end of carousel css----- */

/* end of portfolio styling */

/*----contact me page styling----*/

.contact-me-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 90%;
    height: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.backdrop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    background-color: gray;
    border-radius: 10px;
}

.contacts {
    background-color: white;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    width: 45%;
    height: 90%;
    border-radius: 10px;
}

.contact-me-text, .contact-text {
    font-size: large;
    font-weight: bolder;
    color: rgb(121, 120, 120);
    padding: 20px 5px 20px 5px;

}

.email-color, .number-color {
    color: rgb(121, 120, 120);

}

.email-color:hover, .number-color:hover {
    color: rgb(0,123,182);

}

.github-linkdin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px;
    margin: auto;
    width: 45%;
    height: 90%;
    border-radius: 10px;
}

.github-logo {
    width: 236px;
    height: 59.09%;
    background-image: url("../images/download.png");
}

.linkedin-logo {
    width: 207px;
    height: 40.3%;
    background-image: url("../images/download-1.png");
}
/* media queries for contact page */
@media screen and (max-width: 725px) {
    .contact-me-box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 90%;
        height: 75%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    
    .backdrop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 95%;
        padding: 15px;
        background-color: gray;
        border-radius: 10px;
    }
    
    .contacts {
        background-color: white;
        padding: 5px;
        width: 100%;
        height: 48%;
        border-radius: 10px;
    }
    
    .contact-me-text, .contact-text {
        font-size: 3vw;
        font-weight: bolder;
        color: rgb(121, 120, 120);
        padding: 0px 5px 0px 5px;
    
    }
    
    .email-color, .number-color {
        color: rgb(121, 120, 120);
    
    }
    
    .email-color:hover, .number-color:hover {
        color: rgb(0,123,182);
    
    }
    
    .github-linkdin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 5px;
        margin: auto;
        width: 100%;
        height: 48%;
        border-radius: 10px;
    }
    
    .github-logo {
        width: 75.011111px;
        height: 75.1px;
        background-image: url("../images/download_1_75x75.png");
    }
    
    .linkedin-logo {
        width: 100px;
        height: 60px;
        background-image: url("../images/download-1_1_100x100.png");
    }
}

@media screen and (max-width: 450px) {
    .contact-me-box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 90%;
        height: 75%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    
    .backdrop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 95%;
        padding: 15px;
        background-color: gray;
        border-radius: 10px;
    }
    
    .contacts {
        background-color: white;
        padding: 5px;
        width: 100%;
        height: 48%;
        border-radius: 10px;
    }
    
    .contact-me-text, .contact-text {
        font-size: 3.5vw;
        font-weight: bolder;
        color: rgb(121, 120, 120);
        padding: 15px 5px 0px 5px;
    
    }
    
    .email-color, .number-color {
        color: rgb(121, 120, 120);
    
    }
    
    .email-color:hover, .number-color:hover {
        color: rgb(0,123,182);
    
    }
    
    .github-linkdin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 5px;
        margin: auto;
        width: 100%;
        height: 48%;
        border-radius: 10px;
    }
    
    .github-logo {
        width: 75.011111px;
        height: 75.1px;
        background-image: url("../images/download_1_75x75.png");
    }
    
    .linkedin-logo {
        width: 100px;
        height: 60px;
        background-image: url("../images/download-1_1_100x100.png");
    }
}
/* end of media queries */
/*----end of contact me page styling----*/