body {
    padding: 0px;
    margin: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 647px;
    background-image: url("../images/vzgQ3U_1200x650.jpg");
}

/* ---header styling and links---- */
.header {
    display: flex;
    background-color: white;
    color: rgb(140, 140, 140);
    font-family: Georgia, Times, 'Times New Roman', serif;
    height: 100px;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.head-text, .about-me, .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    font-size: 4vw;
}
/* ---end of header styling---- */