body {
    padding: 0px;
    margin: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 650px;
    background-image: url("./images/vzgQ3U_1200x650.jpg");
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(148,148,148);
    height: 100px;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
